<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование публикации</title>
    <!-- Подключите необходимые CSS, например Bootstrap, если требуется -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% block content %}
<div class="container mt-5">
<h3>Редактировать публикацию</h3>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }} {# форма, отображающаяся на странице #}
    <input type="submit" class="btn btn-primary" value="Сохранить" />
</form>
</div>
{% endblock content %}
</body>
</html>