<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление публикации</title>
    <!-- Подключите необходимые CSS, например Bootstrap, если требуется -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% block content %}
<div class="container mt-5">
<h3>Удаление статьи</h3>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>Удаляем "{{ object.name }}"?</p>
    <input type="submit" class="btn btn-danger btn-sm" value="Удалить" />
</form>
</div>
{% endblock content %}
</body>
</html>