<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все публикации</title>
</head>
<body>
{% block content %}
{% include 'header.html' %}
                <!-- Blog entries-->
 {# {% include 'widgets.html' %} #}
                <div class="col-lg-8">
                    <br>
                    <h3>Список публикаций</h3>
                    <br>
                    {% if publications %}
                    <!-- Featured blog post-->
                    {% for pubs in publications %}
                    {% if publications %}
                    <div class="card mb-4">
                        {% if pubs.wrapper %}
                        <img class="card-img-top" src="{{ pubs.wrapper.url }}" alt="..." />
                        {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                        {% endif %}
                        <div class="card-body">
                            <div class="small text-muted">{{ pubs.date|date:"d M, Y" }}</div>
                            <h2 class="card-title">{{ pubs.name }}</h2>
                            <p class="card-text">{{ pubs.title|truncatewords:30 }}...</p>
                            <a class="btn btn-primary" href="http://127.0.0.1:8000/publications/{{ pubs.id }}">Читать подробнее →</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>Публикаций нет</p>
                    {% endif %}
                    {% endblock content %}
</body>
</html>