{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои отклики</title>
    {% load static %}
    {# <a href="{% url 'publication_list' %}" class="home-button"><i class="fa fa-home"></i> Главная</a> #}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% block content %}
    <div class="container" style="padding-top: 25px;">
        <h1>Мои отклики</h1>
        <br>
        {% if responses %}
            <div class="list-group">
                {% for response in responses %}
                    <div class="list-group-item" style="border-radius: 10px;">
                        <p class="mb-1">{{ response.text }}</p><br>
                        <p>Автор: {{ response.author }}</p>
                        <p>Статья: <a href="http://127.0.0.1:8000/publications/{{ response.publication.id }}/">{{ response.publication|truncatechars:10 }}</a></p>
                        <small>Дата: {{ response.created|date:"d M, Y" }}</small>
                        {% if response.publication.author == user %}
                        {% if response.status == 'pending' %}
                            <div class="mt-2">
                                <a href="{% url 'accept_response' response.id %}" class="btn btn-success btn-sm">Принять</a>
                                <a href="{% url 'delete_response' response.id %}" class="btn btn-danger btn-sm">Удалить</a>
                            </div>
                        {% else %}
                        <br><br>
                        <p>Статус: {{ response.get_status_display }}</p>
                    {% endif %}
                      {% endif %}
                    </div>
                <br>
                {% endfor %}
            </div>
        {% else %}
            <p>У Вас нет откликов.</p>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
</body>
</html>
